.work {
  background: linear-gradient(#7597de, #eeee);
  height: auto;
  width: 100vw;
  position: relative;
  align-items: center;
  margin: 0%;
}
.work h1 {
  margin-top: 0%;
  padding-top: 7%;
  font-size: 3rem;
}
.work img {
  box-sizing: border-box;
  width: 95vmin;
  height: auto;
}
.work .mainimg {
  box-sizing: border-box;
  width: 95vmin;
  height: auto;
}
.work .main {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
}
.work .main .info {
  width: 450px;
}
.work code {
  background-color: rgba(200, 200, 200, 0.609);
  border-radius: 15%;
}
.work h6 {
  font-size: 1rem;
}
.work h5 {
  font-size: 1rem;
}
